.conversejs {
    .oauth-providers {
        text-align: center;
        .oauth-provider {
            margin: 1em 0;

            .oauth-login {
                margin-left: 0;
                color: var(--link-color);
                font-size: var(--font-size-large);
                &:hover {
                    color: var(--link-hover-color);
                }
                i {
                    color: var(--link-color);
                    font-size: var(--font-size-huge);
                    margin-right: 0.5em;
                }
            }
        }
    }
}
